* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-y: hidden;

}

.homepage_container {
    width: 100vw;
    height: 100vh;
}

.head_text {
    font-size: 4rem;
}

.login-container {
    margin-top: 16px;
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
}

.login-container button {
    font-size: 24px;
    width: 15%;
}